* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #A078FF #0b1320;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0b1320;
}

::-webkit-scrollbar-thumb {
    background: #A078FF;
}